version: 2

updates:
{%- for ecosystem in ecosystems %}
  # {{ ecosystem_labels[ecosystem] }}
  - package-ecosystem: {{ ecosystem }}
    directory: {{ ecosystem_directories.get(ecosystem, '/') }}
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
    labels:
      - dependencies

{%- endfor %}
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    labels:
      - dependencies
